@CHARSET "UTF-8";


#playerControlTab {
  height: 2.5em;
  padding-top: 0em;
}
#contentWrapper {
  margin-top: 3em;
}

#logoBackTopiMoo {
  left: 1em;
  width: 55px;
  height: 55px;
}
#logoLogout {
  margin-right: 1em;
  width: 55px;
  height: 55px;
}


#viewHead {
  margin-top: 1em;
}

.menuButton {
  margin: 1em 0em;
  margin-left: 0.5em;
  margin-right: 2em;
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
}

#btn_songSearchClean {
  margin-right: 4em;
}

#btn_news {
  margin-right: 3em;
}

#edt_songSearch{
  max-width: 10%;
  margin-right: 4em;

}

.playerButton {
  margin-right: 2em;
  margin-top: 1.5em;
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
}


#btn_play {
  margin-left: 2em;
  
}

#btn_previous {
  margin-left: 2em;
  
}

#playerControlTab_crossfade {
  /*vertical-align: middle;*/
  padding-top: 1em;
}   



/* the basic template for all messages * /  
#target_feedback, #StdMsg, #okMsg, #errorMsg {
    margin-right: 5%;
    top: 2em;
    left: 60%;
}
*/
