

/* -- this hack is required to set a curser anywhere in DOM -- */

* {
  cursor: inherit;
}


html, body {
/*  width: 100%;
  height: 99%;
  margin: 0;*/

  height:100%;
  width:100%;
  margin: 0px;

  background-color: #303030;
/*  background: linear-gradient(#303030, gray);
  background: -moz-linear-gradient(#303030, gray);
  background: -webkit-linear-gradient(#303030, gray);*/

  /* font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; */
  font-family: 'CustomFont', Arial, sans-serif;
}


#playerControlTab {
  position: fixed;
  height: 2.5em;
  z-index: 1000;

  width: 50%;
  display: block;

  padding-left: 20%;
  padding-top: 0.75em;
}

/*.fixedBlock {
  position: fixed;
}*/

#contentWrapper {
  position: absolute;
  width: 100%;
  margin-top: 3em;
}


#viewHead {
  padding: 1.5em 0.5em;

/*  background-color: black;
  background: radial-gradient(center, black, #303030);
  background: -moz-radial-gradient(center, black, #303030);
  background: -webkit-radial-gradient(center, black, #303030);*/

  color: white;
  text-shadow: 1px 1px 1px silver;

  text-align: center;

  font-family: comic;

  border-top-width: 1px;
  border-top-color: gray;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  border-bottom-style: solid;

}

/*#resultHead {
  position: fixed;
}*/



#target_searchResults{
  transition: all 0.5s ease-in-out;
}

#addSongRow{
  min-height: 3em;
}

.menuButton {
  margin: 1em 0em;
}

/*
.dndContainer {
  / * padding: 0.5em; * /
}
.dojoDndItem:HOVER {
  background-color: black;
  background: radial-gradient(center, black, gray);
  background: -moz-radial-gradient(center, black, gray);
  background: -webkit-radial-gradient(center, black, gray);
  opacity: 0.8;
}
*/

.listRow {
  cursor: default;

  padding: 0.5em;
/*
  background-color: black;
  background: radial-gradient(center, black, gray);
  background: -moz-radial-gradient(center, black, gray);
  background: -webkit-radial-gradient(center, black, gray);
*/
  color: white;
  text-shadow: 1px 1px 1px silver;

  border-bottom-width: 1px;
  border-bottom-color: gray;
  border-bottom-style: solid;

}

.listRowItem {
  padding: 1em 0.5em;
  transition: all 0.5s ease-in-out;
}
.listRowItem:HOVER {
  background-color: white;
  background: radial-gradient(center, white, gray);
  background: -moz-radial-gradient(center, white, gray);
  background: -webkit-radial-gradient(center, white, gray);
}

.nowPlaying {
  /*text-shadow: 2px 2px 1px lime;*/

  background: radial-gradient(center, black, #58a658); /* 4a4aff is a kind of blue and 58a658 is a dimmed lime */
  background: -moz-radial-gradient(center, black, #58a658);
  background: -webkit-radial-gradient(center, black, #58a658);

}


#logoBackTopiMoo {
  position: absolute;
  z-index: 1001;
  left: 0.25em;
  top: 0.25em;
  float: left;

  width: 40px;
  height: 40px;
}
#logoLogout {
  /*position: absolute;
  z-index: 1003;*/
  float: right;
  margin-top: 0.5em;
  margin-right: 0.5em;

  width: 32px;
  height: 32px;
}


#btn_up {
  z-index: 1002; /* the nicest would be to be under the logout button */
  position: fixed;
  top: 90%;
  left: 5px;

  /*https://blog.kulturbanause.de/2017/05/navigation-runterscrollen-verstecken-hochscrollen-anzeigen/*/
}


.albumPic {
  width: 40px;
  height: 40px;
  margin-left: 1em;

}



.noDecor {
  text-decoration: none;

}

  /* the basic template for all messages */
  #target_feedback, #StdMsg, #okMsg, #errorMsg {
    position: fixed;
    padding: 0.5em;
    z-index: 1000;
    cursor: default;
    border-radius: 10px;
    background-color: silver;
    background: radial-gradient(center, #FFFFFF, #AAAAAA);
    background: -moz-radial-gradient(center, #FFFFFF, #AAAAAA);
    background: -webkit-radial-gradient(center, #FFFFFF, #AAAAAA);

    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;

    border-color: blue;
    border-bottom-width: 2px;
    border-style: inset;
    box-shadow: 3px 3px 3px blue,
     -3px 3px 3px blue,
      3px -3px 3px navy,
     -3px -3px 3px silver;

    margin: 2em 0.25em 0.25em 0.25em;
    font-size: 2em;

  }



/* an optical nice link for navigation */
.linkNaviNice {
  color: white;
  text-shadow: 1px 1px 5px #3e3ec9, 1px 1px #000;
}
/* an optical nice link */
.linkNice {
  color: grey;
  text-shadow: 2px 2px 10px #00bf0b, 1px 1px #000;
}


/*this could be useful if text-align: center does not work*/
.centerAlignedBlock {
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  /* must be possibly set at the individual place ("width: inherit" does not work always) */
  /*e.g. width: 250px;*/
  /*or   width: 75%;*/
}

.centerAligned {
  text-align: center;
}

.playlistItemRightArea {
  box-sizing: border-box;
  width: 20%; /*orig 40*/
  height: 3em;
  float: right;
  padding: 0.25em 0.5em 0.75em 0.5em;

  border-width: 1px;
  border-color: gray;
  border-left-style: solid;

}

.playlistItemCenterArea {
  box-sizing: border-box;
  width: 20%;
  height: 3em;
  float: right;
/*
  border-width: 1px;
  border-color: red;
  border-bottom-style: inset;
*/
}

.playlistItemLeftArea {
  box-sizing: border-box;
  width: 60%; /*orig 40*/
  height: 3em;
  padding: 0.25em 0.5em 0.75em 0.5em;

  border-width: 1px;
  border-color: gray;
  border-right-style: solid;

  overflow: hidden;
}

/* That would be ...
.searchResultItemLeftArea {
  box-sizing: border-box;
  width: 40%;
  height: 4em;
  float: right;
  padding: 0.8em;
}

  ... the right way, but its solved already

.searchResultItemRightArea {
  box-sizing: border-box;
  width: 40%;
  height: 4em;
  padding: 1em;
}
*/


#playerControlTab_crossfade {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: larger;
  color: #00ff0f;
  text-shadow: 2px 2px 10px #00ff0f, 1px 1px #000;
  /*vertical-align: middle;*/
  padding-top: 0.25em;
}


/* the basic template for all messages * /
  #target_feedback, #StdMsg, #okMsg, #errorMsg {
    position: fixed;
    overflow: auto;
    padding: 0.5em;
    z-index: 1000;
    cursor: default;
    border-radius: 10px;
    background-color: silver;
    background: radial-gradient(center, #FFFFFF, #AAAAAA);
    background: -moz-radial-gradient(center, #FFFFFF, #AAAAAA);
    background: -webkit-radial-gradient(center, #FFFFFF, #AAAAAA);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-color: blue;
    border-bottom-width: 2px;
    border-style: inset;
    box-shadow: 3px 3px 3px blue,
     -3px 3px 3px blue,
      3px -3px 3px navy,
     -3px -3px 3px silver;
    margin: 2em 0.25em 0.25em 0.25em;
    font-size: 2em;
  }
*/

.fadeOut500ms{
  transition: opacity 0.5s linear;
}



#coverPicFrame {
  text-align: center;
  padding: 1em;
}
#coverPic {
  position: relative;
  width: 95%;
  height: auto; /*95%*/
}


/* column grid - Spaltensatz */
.columnGrid02 {
  width: 50%;
  float: left;
  text-align: center;
}
.columnGrid03 {
  width: 33.3%;
  float: left;
  text-align: center;
}
.columnGrid04 {
  width: 25%;
  float: left;
  text-align: center;
}
.columnGrid05 {
  width: 20%;
  float: left;
  text-align: center;
}

